/* ------------------ General ----------------- */
:root {
    --gap: 30px;
}
/* ------------------ Layout ------------------ */
$container-max-width: 100%;
$container-width: 1260px;

/* ------------------- Size ------------------- */

/* ------------------- Fonts ------------------ */

/* ------------------- Color ------------------ */

$primary: rgb(26, 109, 222);
$secondary: #6c757d;
$success: #28a745;
$danger: #dc3545;
$warning: #ffc107;
$info: #17a2b8;
$light: #f8f9fa;
$dark: #343a40;


$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);

// custom colors
$my-color-1: #ff0000;
$my-color-2: #00ff00;
$my-color-3: #0000ff;

/* ------------------- Text ------------------- */

/* ------------- Breakpoint Media ------------- */
$xxl-min: 1400px;
$xl-min: 1200px;
$lg-min: 992px;
$md-min: 768px;
$sm-min: 576px;
$xs-min: 425px;
$xxs-min: 375px;

$xxl-max: ($xxl-min - 1);
$xl-max: ($xl-min - 1);
$lg-max: ($lg-min - 1);
$md-max: ($md-min - 1);
$sm-max: ($sm-min - 1);
$xs-max: ($xs-min - 1);
$xxs-max: ($xxs-min - 1);
